@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/*place global styles here */
html,
body {
	@apply h-full;
}

#modal-root,
#loader-root {
	position: absolute;
}

#modal-root {
	z-index: 5;
}
#loader-root {
	z-index: 10;
}