---
  import Layout from "../layouts/Home.astro";
---

<Layout>
  <h1>Resources</h1>
  <h2>Icons by <a target="_blank" href="https://icons8.com">Icons8</a></h2>
  <ul>
    <li>
      <a target="_blank" href="https://icons8.com/icon/LoL4bFzqmAa0/github">GitHub</a>
    </li>
  </ul>
</Layout>